/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url("/images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
}
