/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url('/images/cover-image-light.png');
  --main-text-color: #353430;
  --title-text-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

