/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
  }

  .header__rec {
    display: none;
  }

  .decorated-zone::before {
    --accent-color: #353430;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  .decorated-zone::after {
    --accent-color: #353430;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  .header__theme-menu-button {
    --accent-color: #353430;
    color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    --accent-color: #353430;
    border-color: var(--accent-color);
  }

  .section__title {
    --accent-color: #353430;
    color: var(--accent-color);
  }
}

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;

  .decorated-zone::before {
    --accent-color: #353430;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  .decorated-zone::after {
    --accent-color: #353430;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  .header__theme-menu-button {
    --accent-color: #353430;
    color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    --accent-color: #353430;
    border-color: var(--accent-color);
  }

  .header__rec {
    display: none;
  }

  .section__title {
    color: var(--accent-text-color);
  }

  .title-decor {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
  }
}
