/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
  }
}

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}
