/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
  --main-title-text-color: #ffc2e6;
  --section-title-color: #353430;
  --accent-color: #ff8dcb;
  --boredr-hover-color: #32312d66;
  --accent-text-color: #353430;
  --decorate-color: #353430;

  .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --main-text-color: #353430;
    --main-title-text-color: #ffc2e6;
    --section-title-color: #353430;
    --accent-color: #ff8dcb;
    --boredr-hover-color: #32312d66;
    --accent-text-color: #353430;
    --decorate-color: #353430;
  }
}
