/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: var(--main-font-family), sans-serif;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorate-color);
  border-right: 1px solid var(--decorate-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorate-color);
  border-left: 1px solid var(--decorate-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 18px;
  font-weight: 400;
  color: var(--decorate-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--decorate-color);
  box-shadow: 0 0 2px 2px var(--decorate-color);
}

@media (prefers-color-scheme: light) {
  .header__rec {
    display: none;
  }
}

.header__title {
  grid-row: 2;
  align-self: center;
  color: var(--main-title-text-color);
  font-weight: bold;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.description-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.header__description {
  grid-row: 3;
  align-self: center;
  justify-self: end;
  font-size: 18px;
  max-width: 364px;
  font-weight: 700;
  line-height: var(--line-height);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

@media (height <=670) {
  .header__theme-menu {
    margin-block-start: 64px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 3px 13px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--decorate-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--boredr-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decorate-color);
}

.header__theme-menu-button_active {
  border-color: var(--decorate-color);
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:disabled {
  opacity: 1;
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
}

.section__content,
.section__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-gallary {
  display: grid;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.card__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.card__text {
  margin: 0;
  font-size: 18px;
  color: var(--main-text-color);
  line-height: var(--line-height);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 1px 0px;
}

.section-gallary {
  display: grid;
  gap: 10px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.footer__title {
  font-weight: 700;
  line-height: 83%;
  color: var(--main-title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: 2px;
}

@media (width >=760px) {
  .main {
    padding: 60px 20px 60px 20px;
    gap: 81px;
  }

  .header {
    padding: 20px 20px 20px 0px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 21px;
    right: 29px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__title {
    grid-column: 1;
  }

  .section-gallary {
    gap: 20px;
  }

  .section__content {
    padding-inline-start: 10px;
  }

  .section_problems .section__content {
    grid-column: 2 / 4;
  }

  .section_distractions .section__cards {
    grid-column: 1 / -1;
  }

  .title-decor {
    grid-column: 1 / 4;
  }

  .section_tips .section__content {
    grid-column: 2 / 4;
  }

  .section:last-of-type {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item_sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__item_icecream {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item_tape {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item_books {
    grid-column: 2;
  }

  .gallery__item_street {
    grid-column: 2 / 4;
  }
}

@media (width >=1000px) {
  .header__description {
    max-width: 491px;
  }

  .header__theme-menu {
    padding: 0;
    margin-left: 23px;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section__content {
    padding-inline-start: none;
  }

  .section_distractions .section__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
